/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #6d0167;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: rgb(219, 3, 165);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #000000;
}

.input-container {
    margin: 20px 0;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #b70ac7;
}

button {
    background-color: #bb14ca;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #960f8f;
}

#message {
    font-size: 18px;
    color: #000000;
    margin-top: 15px;
}

#reset-btn {
    background-color: #f4369e;
}

#reset-btn:hover {
    background-color: #b11bb1;
}
